.box {
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}


/*****************************
               LISTA
*******************************/

.lista {
    align-self: center;
}

.lista > ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: auto 10px;
}

.lista > ul > li > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.lista > ul > li > a:hover {
    color: rgb(64, 174, 211);
    border-bottom: 5px solid rgb(64, 174, 211);
    padding-bottom: 25px;
}

/********************
       CONTENT
*********************/
.content {
    background-color: #1f1f1f;
    text-align: center;
    margin-bottom: 25px;
}

.esistential_problem {
    padding: 2.5% 0;
}


.jumbotron {
    background-image: url('../../images/jumbotron.jpg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}

.jumbotron>button {
    color: white;
    font-weight: bold;
    border: 2px solid #007cf2;
    background-color: #007cf2;
    padding: 10px 40px;
    position: absolute;
    left: 15%;
    bottom: -5%;
}



/********************
       MAIN
*********************/
.mainE {
    background-color: #1f1f1f;
}



/********************
       CARDS
*********************/

.cards {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: space-between;
}


.loadmore {
    color: white;
    background-color: #007cf2;
    border: 2px solid #007cf2;
    padding: 10px 40px;
    align-self: center;
    font-weight: bold;
}







/********************
        CARD
*********************/

.card {
    width: calc(100% / 6 - 5px);
    text-align: center;
    background-color: #1f1f1f;
    border: none;
}


h6 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}



.btl {
    display: flex;
    justify-content: center;
}

.containerY {
    background-color: #007cf2;
}


/*****************************
               LISTA
*******************************/

.containerY > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 0;
    margin-top: 1rem;

}

.container > ul li {
    display: flex;
    align-items: center;
}

.container > ul li img {
    height: 50%;
}

.container a {
    text-decoration: none;
    color: white;
    align-items: center;
}.Utilities {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../images/footer-bg.jpg');
}

/*******************
        LISTA
  *******************/

ul {
    list-style-type: none;
}

li {
    color: white;
}

a {
    color: rgb(179, 176, 176);
    text-decoration: none;
}

/*******************
      LINK SPACE
  *******************/

.linkspace {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.linkspace>div {
    display: flex;
    padding: 20px;
}

.cutimage {
    background-image: url('../../images/dc-logo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
}

/*******************
        FOOTER
  *******************/
.singUp {
    width: 100vw;
    z-index: 0;
    background-color: #333333;

}

.correction {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.buttonSingUp {
    color: white;
    background-color: #333333;
    border: 2px solid #007cf2;
    padding: 10px;
    font-size: 1rem;
}

.followUs {
    color: #007cf2;
}

.dflex {
    display: flex;
}

.vcenterItems {
    align-items: center;
}

.vcenterSelf {
    align-self: center;
}

.imgSettings img {
    margin: auto 10px;
}.infoAndPicture,
.infoBackground{
    display: flex;
    width: 80%;
    margin: auto;
    padding-left: 3.6rem;
    justify-content: space-around;
}

.westSide{
    width: 60%;
}

